* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*CORES UTILIZADAS NO SITE*/
:root {
    --primaria: #1709d8;
    --secundaria: #026fa1;
    --escuro: #0f172a;
    --maisEscuro: #0a0f1c;
    --claro: #e2e8f0;
    --vidro: rgba(255, 255, 255, 0.1);
}

body {
    background-color: var(--escuro);
    color: var(--claro);
}


/*ESTILO DOS LINKS PARA NAVEGAÇÃO*/
.navegacao {
    position: fixed;
    background: rgba(15, 23, 42, 0.5);
    width: 100%;
    z-index: 100;
    top: 0;
    padding: 1.5rem;
}

.menu {
    display: flex;
    list-style: none;
    gap: 3rem;
    justify-content: center;
}

.menu-link {
    text-decoration: none;
    color: var(--claro);
    font-weight: 500;
    position: relative;
    padding: 0.5rem 0;
}

.menu-link::after {
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: linear-gradient(90deg, var(--primaria), var(--secundaria));
    transition: width 0.5s ease;
}

.menu-link:hover::after {
    width: 100%;
}

/*ESTILO DO NOME ABAIXO DA IMAGEM PRINCIPAL*/
.cabecalho {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*ESTILO DA IMAGEM PRINCIPAL*/
.foto-perfil {
    width: 250px;
    height: 250px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(48, 172, 189, 0.5) 0px 8px 16px -4px;
    border-radius: 50%;
    border: 4px solid var(--vidro);
}

h1 {
    margin: 10px;
    font-size: 3.5rem;
    color: var(--claro);
    font-weight: bold;
}

.cabecalho-sub {
    font-size: 1.5rem;
    color: var(--claro);
}

/*ESTILO DA PAGINA SOBRE MIM*/
.sobre {
    padding: 6rem 2rem;
}

.sobre-titulo {
    font-size: 3rem;
    color: var(--claro);
    text-align: center;
    margin-bottom: 10px;
}

.sobre-mim {
    padding: 2rem;
    max-width: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid var(--vidro);
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.05);
}

.sobre-paragrafo {
    text-align: center;
    font-size: 1.5rem;
}

/*ESTILO DA PARTE DE FORMAÇÃO ACADÊMICA*/
.formacao {
    text-align: center;
    font-size: 2.5rem;
    padding: 50px;
}


/*ESTILO DOS CARDS DOS PROJETOS*/
.projetos-titulo {
    text-align: center;
    font-size: 2.5rem;
    padding: 50px;
}

.projetos {
    padding: 3rem 1rem;
}

.projetos-texto {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
    margin: 0 auto;
    text-align: center;

}

.projetos-card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 16px;
    backdrop-filter: blur(16px);
    border: 1px solid var(--vidro);
    overflow: hidden;
    padding: 10px;
}

.projetos-imagem {
    width: 30%;
    object-fit: fill;
}

/*EDIÇÃO DA PARTE DO FORMULÁRIO PARA CONTATO*/
.contato-titulo {
    text-align: center;
    font-size: 2.5rem;
    padding: 50px;
}

.formulario-contato {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(138, 18, 18, 0.05);
    backdrop-filter: blur(16px);
    padding: 2rem;
    border: 1px solid var(--vidro);
    border-radius: 16px;
    margin-bottom: 1.5rem;

}

.campo-form {
    align-self: center;
    width: 90%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    color: var(--claro);
    border: 1px solid var(--vidro);
}

.grupo-form {
    margin-bottom: 1.5rem;
}

/*EDIÇÃO DO BOTÃO*/

.botao-submit {
    background-color: var(--secundaria);
    width: 200px;
    height: 50px;
    color: var(--claro);
    transition: all 0.5s;
    position: relative;
}

.botao-submit::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.3s;
}

.botao-submit:hover::before {
    opacity: 0;
    transform: scale(0.5, 0.5);
}

.botao-submit::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transform: scale(1.2, 1.2);
}

.botao-submit:hover::after {
    opacity: 1;
    transform: scale(1, 1);
}